
 

        <div class="container typecho-dashboard">
            <div class="site-content">
                <div class="typecho-page-title">
                    <h2>网站概要</h2>
                </div>

                <% include message.html %>

                <div class="row typecho-page-main">
                    <div class="col-mb-12 welcome-board" role="main">
                        <p>目前有 <em>1</em> 篇文章, 并有 <em>1</em> 条关于你的评论在 <em>1</em> 个分类中.               
                            <br>
                            点击下面的链接快速开始:</p>

                        <ul id="start-link" class="clearfix">
                            <li><a href="/admin/posts_add">撰写新文章</a></li>
                            <li><a href="#">系统设置</a></li>
                            <li><a href="/admin/profile">更新我的资料</a></li>
                        </ul>
                    </div>

                    <div class="col-mb-12 col-tb-4" role="complementary">
                        <section class="latest-link">
                            <h3>最近发布的文章</h3>
                            <ul>
                                <li>
                                    <span>10.17</span>
                                    <a href="http://localhost/index.php/archives/1/" class="title">欢迎使用 Asura</a>
                                </li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-mb-12 col-tb-4" role="complementary">
                        <section class="latest-link">
                            <h3>最近得到的回复</h3>
                            <ul>
                                <li>
                                    <span>10.17</span>
                                    <a href="http://localhost/index.php/archives/1/#comment-1" class="title"><a href="http://typecho.org" rel="external nofollow">Typecho</a></a>:
                                欢迎加入 Typecho 大家族                        </li>
                            </ul>
                        </section>
                    </div>

                    <div class="col-mb-12 col-tb-4" role="complementary">
                        <section class="latest-link">
                            <h3>官方最新日志</h3>
                            <div id="typecho-message">
                                <ul>
                                    <li>读取中...</li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>