                <article class="post">
                        <header class="header">
                            <h1 class="title">
                                <a href="http://blog.sloger.info/about.html">关于</a>
                            </h1>
                            <ul class="meta">
                                <li>
                                    <span>December 5, 2013</span>
                                </li>
                            </ul>
                        </header>
                        <div class="body markdown-body">
                        <h3>关于博主</h3>
                        <p>爱好开源，爱好Linux<br />
                        爱好Perl，爱好C/C++<br />
                        爱好Emacs，爱好Vim<br />
                        不喜欢安卓，不喜欢巨硬<br />
                        不喜欢Java，不喜欢Python<br />
                        爱好打羽毛球</p>

                        <p>作为一个学了几种语言却只会写几个版本的 Hello World 的计算机小白，我正在努力学习中 >﹏&lt;</p>

                        <hr />

                        <h3>关于博客</h3>

                        <p>一个没有技术的人<br />
                        装做有技术的样子<br />
                        写着一个没有技术的博客<br />
                        但却觉得很有技术的样子</p>

                        <p>关注点: Linux Perl C/C++ Ruby Emacs Vim</p>

                        <hr />

                        <h3>关于友链</h3>

                        <p>条件很简单</p>

                        <ul>
                            <li>大部分为原创</li>
                            <li>跟计算机相关</li>
                            <li>广告太多不加</li>
                            <li>万年不更不加</li>
                        </ul>
                </article>
                <div id="comments">
                    <h3>
                        评论已关闭</h3>
                </div>