                <article class="post">
                    <header class="header">
                      <h1 class="title">
                        <a href="http://blog.sloger.info/guestbook.html">留言</a>
                      </h1>
                      <ul class="meta">
                        <li>
                          <span>December 5, 2013</span>
                        </li>
                      </ul>
                    </header>
                    <div class="body markdown-body">
                    <p>有什么话就在这里留言吧。</p>
                    </div>
                </article>
                <div id="comments">
                    <div class="comments widget">
                        <h3>
                            <span>164 <em>replies</em> </span>
                        </h3>
                        <ol class="comment-list">
                            <li itemscope itemtype="http://schema.org/UserComments" id="comment-553" class="comment-body comment-parent comment-odd">
                                <div class="comment-author" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                    <span itemprop="image">
                                        <img class="avatar" src="http://www.gravatar.com/avatar/531cef2af7ecb978091e338d3f70c471?s=32&amp;r=G&amp;d="
                                            alt="友链" width="32" height="32" /></span> <cite class="fn" itemprop="name"><a href="http://www.iiiloving.com"
                                                rel="external nofollow">友链</a></cite>
                                </div>
                                <div class="comment-meta">
                                    <a href="http://blog.sloger.info/guestbook.html/comment-page-12#comment-553">
                                        <time itemprop="commentTime" datetime="2014-08-07T15:12:21+00:00">2014/08/07, 15:12:21</time>
                                    </a>
                                </div>
                                <div class="comment-content" itemprop="commentText">
                                    <p>
                                        友情链接，联系邮箱：floving@163.com</p>
                                </div>
                                <div class="comment-reply">
                                    <a href="http://blog.sloger.info/guestbook.html/comment-page-12?replyTo=553#respond-page-221"
                                        rel="nofollow" onclick="return TypechoComment.reply('comment-553', 553);">回复</a>
                                </div>
                            </li>
                            <li itemscope itemtype="http://schema.org/UserComments" id="comment-565" class="comment-body comment-parent comment-even">
                                <div class="comment-author" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                                    <span itemprop="image">
                                        <img class="avatar" src="http://www.gravatar.com/avatar/cf0d506c6516d2394cd9af4d8a6b510f?s=32&amp;r=G&amp;d="
                                            alt="maillot saxo bank" width="32" height="32" /></span> <cite class="fn" itemprop="name">
                                                <a href="http://www.maillotciclista.net/equipos-ciclistas/saxo-bank.html" rel="external nofollow">
                                                    maillot saxo bank</a></cite>
                                </div>
                                <div class="comment-meta">
                                    <a href="http://blog.sloger.info/guestbook.html/comment-page-12#comment-565">
                                        <time itemprop="commentTime" datetime="2014-09-10T09:23:35+00:00">2014/09/10, 9:23:35</time>
                                    </a>
                                </div>
                                <div class="comment-content" itemprop="commentText">
                                    <p>
                                        友情来访~</p>
                                </div>
                                <div class="comment-reply">
                                    <a href="http://blog.sloger.info/guestbook.html/comment-page-12?replyTo=565#respond-page-221"
                                        rel="nofollow" onclick="return TypechoComment.reply('comment-565', 565);">回复</a>
                                </div>
                            </li>
                        </ol>
                        <ol class="page-navigator">
                            <li class="prev"><a href="http://blog.sloger.info/guestbook.html/comment-page-11#comments">
                                « 前一页</a></li><li><a href="http://blog.sloger.info/guestbook.html/comment-page-1#comments">
                                    1</a></li><li><span>...</span></li><li><a href="http://blog.sloger.info/guestbook.html/comment-page-9#comments">
                                        9</a></li><li><a href="http://blog.sloger.info/guestbook.html/comment-page-10#comments">
                                            10</a></li><li><a href="http://blog.sloger.info/guestbook.html/comment-page-11#comments">
                                                11</a></li><li class="current"><a href="http://blog.sloger.info/guestbook.html/comment-page-12#comments">
                                                    12</a></li></ol>
                    </div>
                    <div id="respond-page-221" class="respond widget">
                        <div class="cancel-comment-reply">
                            <a id="cancel-comment-reply-link" href="http://blog.sloger.info/guestbook.html#respond-page-221"
                                rel="nofollow" style="display: none" onclick="return TypechoComment.cancelReply();">
                                取消回复</a>
                        </div>
                        <h3 id="response">
                            <span>new <em>reply</em></span></h3>
                        <form method="post" action="http://blog.sloger.info/guestbook.html/comment" id="comment-form">
                        <div class="field">
                            <label for="mail">
                                User (required) :</label>
                            <input type="text" name="author" id="author" value="">
                        </div>
                        <div class="field">
                            <label for="mail">
                                Email (required) :</label>
                            <input type="email" name="mail" id="mail" value="">
                        </div>
                        <div class="field">
                            <label for="mail">
                                Url :</label>
                            <input type="url" name="url" id="url" placeholder="http://" value="">
                        </div>
                        <div class="field">
                            <label for="textarea">
                                内容</label>
                            <textarea name="comment" id="textarea"></textarea><textarea name="text" cols="100%"
                                rows="4" style="display: none">spam</textarea>
                        </div>
                        <div>
                            <button type="submit" class="submit">
                                提交评论</button>
                        </div>
                        </form>
                    </div>
                </div>