

<% for(i in list) { %>
<article class="simditor">
    <header class="header">
        <h1 class="title">
            <a href="/article/<%= list[i].id %>" target="_blank"><%= list[i].title %></a>
        </h1>
        <ul class="meta">
            <li>
                <span><%= list[i].create %></span>
            </li>
        </ul>
    </header>
    <div class="simditor-body">
        <%- list[i].content %>
        <p class="more"><a href="/article/<%= list[i].id %>" target="_blank" title="<%= list[i].title %>">Continue reading →</a></p>    </div>
</article>
<% } %>



                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">快速重装 Gentoo</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>October 14, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>我比较喜欢未雨绸缪，平时用 Gentoo 时有个习惯，Portage 添加了 <code>FEATURES="buildpkg"</code></p>-->

                    <!--<p>这个功能是在安装包的时候，顺便把编译好的二进制包存到 <code>/usr/portage/packages</code> 下，以作重装使用。</p>-->

                    <!--<p>所以重装时，就可以用这些二进制包来重装，以避免重复编译浪费时间。</p>-->

                    <!--<h2>备份 portage 配置文件</h2>-->

                    <!--<p>包括 <code>/etc/portage/</code> 目录，<code>/var/lib/portage/{world, world_sets}</code> 等文件，可以用 git 同步到 Github 或者 Bitbucket。</p>-->

                    <!--<h2>制作二进制包</h2>-->

                    <!--<p>因为 <code>/usr/portage/packages</code> 下可能存在一个软件的多个版本，而我们只需要最新版本，所以可以使用 <code>eclean packages</code> 清楚旧版本的包，只保留最新版本。</p>-->

                    <!--<p>而之前没有注意备份二进制包的话，可以使用 <code>quickpkg</code> 创建二进制包。</p>-->

                    <!--<p><img src="http://slogerinfo.qiniudn.com/2014/10/1875231623.png" alt="quickpkg.png" /></p>-->

                    <!--<ul>-->
                    <!--<li><code>--include-config</code> 表示连同软件的配置文件一同打包，而安装了之后无需再次配置。</li>-->
                    <!--<li><code>equery -qC l '*' -F'$cp'</code> 用来列出当前系统中所有已安装的包。</li>-->
                    <!--</ul>-->

                    <!--<p class="more"><a href="/details" target="_blank" title="快速重装 Gentoo">Continue reading →</a></p>    </div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">最后一个暑假结束了</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>August 25, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>想说的太多了也就不想说了。</p>-->

                    <!--<p>最后一年大学时光，感觉还是前途一片混沌啊。</p>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">修复坏的 ZSH 历史文件</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>July 16, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>刚才打开终端之后显示历史文件坏了.</p>-->

                    <!--<pre><code class="lang-text">zsh: corrupt history file /home/sloger/.zsh_history-->
                    <!--</code></pre>-->

                    <!--<p>我是解决方法:</p>-->

                    <!--<pre><code class="lang-bash">$ cd-->

                    <!--$ mv .zsh_history .zsh_history.bad-->

                    <!--$ strings .zsh_history.bad &gt; .zsh_history-->
                    <!--</code></pre>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">Typecho 主题 - Sugar &amp; Spice</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 29, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>从 Wordpress 主题改过来的，作者给的介绍是</p>-->

                    <!--<blockquote>-->
                    <!--<p>Sugar &amp; Spice is a chic, feminine wordpress theme created with wedding blogs         and wedding industry in mind. This free responsive theme is developed by WebTuts.</p>-->
                    <!--</blockquote>-->

                    <!--<p>大概就是说，是婚庆主题，女性化的主题。</p>-->

                    <!--<p>我才不管呢，我就觉得挺合适的。。。</p>-->

                    <!--<p>源码托管在 <a href="https://github.com/DreamHarbor/SugarAndSpice">Github 上</a></p>-->

                    <!--<p>采用 Sass 编写</p>-->

                    <!--<p>编译两次生成了两个 css 文件</p>-->

                    <!--<ul>-->
                    <!--<li><p>一个是 style.css，是压缩版本的，作为使用。</p></li>-->
                    <!--<li><p>一个是 style.pretty.css, 是美化版本的，作为自定义用</p></li>-->
                    <!--<li><p>有能力并且有 Sass 环境的也可以直接编辑 Sass 源文件</p></li>-->
                    <!--</ul>-->

                    <!--<h3>抱歉</h3>-->

                    <!--<ul>-->
                    <!--<li><p>细节功能没有加上，比如没有现实分类，标签等</p></li>-->
                    <!--<li><p>评论部分没有做，我实在是不想做了</p>-->

                    <!--<p>Typecho 默认评论输出太乱，而自定义输出太麻烦</p>-->

                    <!--<p>有兴趣的可以自己完成。</p></li>-->
                    <!--<li><p>没有做响应式布局，过一段时间会加上。</p></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">真难！终于搞定了 nginx + puma 部署 rails 4</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 29, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>用 Ruby on Rails 写了个半成品 Limlog 博客系统作为 Rails 练习，花了很长时间想解决部署问题，终于才刚解决。。。</p>-->

                    <!--<p>花了两周时间 Google 部署方法，找的的许多方法都没有用，最终被我用控制变量法，一条一条修改配置文件修改成功了。</p>-->

                    <!--<p>演示地址: <a href="http://limlog.sloger.info/"><a href="http://limlog.sloger.info">http://limlog.sloger.info</a></a></p>-->

                    <!--<h3>首先是 nginx 和 puma</h3>-->

                    <!--<p>这两个文件请 <a href="https://gist.github.com/DreamHarbor/7690169d0464aeab51de">戳 gists 浏览并下载</a></p>-->

                    <!--<p>根据你的具体情况修改就行了，每个文件放在哪里，文件头部注释里面写了。</p>-->

                    <!--<h3>然后是修改环境</h3>-->

                    <!--<p>修改 <code>config/environments/production.rb</code></p>-->

                    <!--<p>18 行 false 改为 true</p>-->

                    <!--<pre><code class="lang-ruby"># Disable Rails's static asset server (Apache or nginx will already do this).-->
                    <!--config.serve_static_assets = true-->
                    <!--</code></pre>-->

                    <!--<p class="more"><a href="/details" target="_blank" title="真难！终于搞定了 nginx + puma 部署 rails 4">Continue reading →</a></p>    </div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">Rails 中为 Mongoid 的 Hash 类型生成表单</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 28, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>把 Limlog 的数据库从 Mysql 迁移到了 Mongodb， 受够了各种 migrate 了。</p>-->

                    <!--<p>在 <code>app/model/reply.rb</code> 中定义个回复者的相关信息</p>-->

                    <!--<pre><code class="lang-ruby">field :author-->
                    <!--field :email-->
                    <!--field :url-->
                    <!--</code></pre>-->

                    <!--<p>但是 Ruby 讲究语意化，Reply 不可能有 email 和 url 这两个属性，于是看了 Mongoid 的 Document，发现了一个类型: Hash</p>-->

                    <!--<p>于是将上述三列改为一列</p>-->

                    <!--<pre><code class="lang-ruby">field :author, type: Hash, default: { name: '', email: '', url: '' }-->
                    <!--</code></pre>-->

                    <!--<p>这样就明显符合人的思维～</p>-->

                    <!--<p class="more"><a href="/details" target="_blank" title="Rails 中为 Mongoid 的 Hash 类型生成表单">Continue reading →</a></p>    </div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">写了一个 shadowsocks 的 OpenRC 脚本</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 26, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>Gentoo 源里没有 shadowsocks，于是用 pip 安装了个，但是并没有附带 OpenRC 脚本，因此我一直都是开机后手动启动的。</p>-->

                    <!--<p>直到今天在贴吧里看见有人说写了 shadowsocks 在 Ubuntu Upstart 下的脚本，于是就花了一点时间写了一个 shadowsocks 在 OpenRC 下的脚本。</p>-->

                    <!--<p>脚本很简单，只判断了是否存在配置文件，而没有检测端口冲突等等。</p>-->

                    <!--<pre><code class="lang-bash">#!/sbin/runscript-->
                    <!--# Copyright 1999-2014 Gentoo Foundation-->
                    <!--# Distributed under the terms of the GNU General Public License v2-->
                    <!--# -->
                    <!--# Author: sloger-->
                    <!--# Description: Shadowsocks client script file for OpenRC-->
                    <!--#-->

                    <!--profile=${RC_SVCNAME#*.}-->

                    <!--config_file=${config_file:-/etc/shadowsocks/${profile}.json}-->
                    <!--run_dir=${run_dir:-/run/shadowsocks}-->

                    <!--command="/usr/bin/sslocal"-->
                    <!--command_args="-c ${config_file}"-->
                    <!--command_background="true"-->

                    <!--pidfile=${run_dir}/${profile}.pid-->

                    <!--depend() {-->
                    <!--use net logger-->
                    <!--}-->

                    <!--start_pre() {-->
                    <!--checkpath -d -m 0750 "${run_dir}"-->
                    <!--if [ ! -f ${config_file} ]; then-->
                        <!--eerror "Missing configuration file ${config_file}"-->
                        <!--return 1-->
                    <!--fi-->
                    <!--}-->
                    <!--</code></pre>-->

                    <!--<p>或者戳 <a href="https://gist.github.com/DreamHarbor/9010e84fc6484609c6ff">gist 地址</a>，用的时候后缀名去掉，我添加后缀名是为了能语法高亮的。</p>-->

                    <!--<p class="more"><a href="/details" target="_blank" title="写了一个 shadowsocks 的 OpenRC 脚本">Continue reading →</a></p>    </div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">No supported Python implementation variant found</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 25, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>Gentoo 下编译 mongodb 进行 src_install 时出错，显示</p>-->

                    <!--<pre><code class="lang-text">/usr/bin/scons: no supported Python implementation variant found-->
                    <!--</code></pre>-->

                    <!--<p>后来发现重新安装 scons 就好了</p>-->

                    <!--<pre><code class="lang-bash">$ sudo emerge -a scons-->
                    <!--$ sudo emerge -a mongodb-->
                    <!--</code></pre>-->

                    <!--<p>这到底是怎么回事 -_-</p>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">把 VPS 里的 Archlinux 跨一年滚到最新版了</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 21, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>DigitalOcean 已经不提供 Archlinux 的支持了，我的 VPS 里还是几个月前装的 Archlinux，而且只有去年 5 月份的镜像可用。</p>-->

                    <!--<p><img src="http://slogerinfo.qiniudn.com/2014/06/2364446131.png" alt="do.png" /></p>-->

                    <!--<p>于是想把系统滚到最新版，Archlinux 玩家应该都知道，去年 6 月份的那次文件系统大迁移真是个噩梦，许多用户不看 news 都挂了。我当时是因为一些原因没有没有滚，而是直接拿 6 月份的 iso 重装的系统，所以当时并没有经历那次大迁移，当然也就不知道了。</p>-->

                    <!--<p>直到几个月前，第一次萌生滚系统并付诸实践时，挂了。。。</p>-->

                    <!--<p>今天就想再试一次，于是备份好配置文件和数据库，就开搞了。很幸运，今天没挂～</p>-->

                    <!--<p class="more"><a href="http://blog.sloger.info/linux/update-archlinux-to-the-latest-version-in-vps.html" title="把 VPS 里的 Archlinux 跨一年滚到最新版了">Continue reading →</a></p>    </div>-->
                <!--</article>-->
                <!--<article class="post">-->
                    <!--<header class="header">-->
                        <!--<h1 class="title">-->
                        <!--<a href="/details" target="_blank">Rails 中使用 slim 和 sass</a>-->
                        <!--</h1>-->
                        <!--<ul class="meta">-->
                        <!--<li>-->
                            <!--<span>June 9, 2014</span>-->
                        <!--</li>-->
                        <!--</ul>-->
                    <!--</header>-->
                    <!--<div class="body ">-->
                    <!--<p>Rails 中默认是使用 erb 和 scss，写了一段时间 erb 和 scss，越来越觉得这两个 DSL 不简洁，而 slim 和 sass 则比较简洁，于是就决定迁移到 slim 和 sass</p>-->

                    <!--<h2>Rails 中默认使用 slim 和 sass</h2>-->

                    <!--<p>在 config/application.rb 里 class Application &lt; Rails::Application 中加入以下片段</p>-->

                    <!--<pre><code class="lang-ruby">config.sass.preferred_syntax= :sass-->

                    <!--config.generators do |g|-->
                    <!--g.template_engine :slim-->
                    <!--end-->
                    <!--</code></pre>-->

                    <!--<p>这样以后使用 rails g controller 时生成的就是 .slim 和 .sass 了</p>-->

                    <!--<p>对于现有的 erb 和 scss，可以分别使用 erb2slim 和 sass-convert 进行迁移</p>-->
                    <!--</div>-->
                <!--</article>-->
                <!--<div class="pagenavi">-->
                    <!--<a class="next" title="" href="http://blog.sloger.info/page/2/">« 较早的文章</a>-->
                <!--</div>-->