

<% for(i in list) { %>
<article class="simditor">
    <header class="header">
        <h1 class="title">
            <a href="/article/<%= list[i].id %>" target="_blank"><%= list[i].title %></a>
        </h1>
        <ul class="meta">
            <li>
                <span><%= list[i].create %></span>
            </li>
        </ul>
    </header>
    <div class="simditor-body">
        <%- list[i].content %>
        <p class="more"><a href="/article/<%= list[i].id %>" target="_blank" title="<%= list[i].title %>">Continue reading →</a></p>    </div>
</article>
<% } %>


<%- page %>